<!DOCTYPE html>
<html>
<head>

  <h1>Welcome to Nodebots</h1>

  <a href="/on">on</a>
  <a href="/off">off</a>

  <a href="/on2">on2</a>
  <a href="/off2">off2</a>

  <a type="button" href="/on3">on3</a>
  <a href="/off3">off3</a>

<html>
</html>
